html{
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

:root{
    --main-font: "Roboto", sans-serif;
    --title-dark-theme-color:#FFFFFF;
    --title-light-theme-color:#212121;
    --accent-color:#2196F3;
    --primary-text-color:#757575;
}
body{
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    font-family: var(--main-font);
    color:var(--primary-text-color);
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.button{
    cursor: pointer;
}
.link{
    text-decoration: none;
}
.list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.img{
    display: block;
}


/* Header */
.header{
    border-bottom: 1px solid #ECECEC;
}
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-name-part{
    color: var(--accent-color);
}
.main-nav{
    display: flex;
    align-items: center;
}
.navigation{
    display: flex;
    align-items: center;
}
.navigation-list {
    display: flex;
    margin-left: 85px;
}

.contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.navigation-item:not(:last-child),
.contact-item:not(:last-child){
    margin-right: 50px;
}
.studio-link{
    position: relative;
}

.studio-link::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
   background-color:var(--accent-color);

}



.navigation-link,
.contact-mail-link,
.contact-tel-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-light-theme-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    


}

.navigation-link:hover,
.navigation-link:focus,
.contact-mail-link:hover,
.contact-mail-link:focus,
.contact-tel-link:hover,
.contact-tel-link:focus{
    color: var(--accent-color);
}
.contact-mail-link,
.contact-tel-link{
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
}



.icon-mail{
    width: 16px;
    height: 11.2px;
}
.icon-phone{
    width: 10px;
    height: 14.94px;
}
.contact-icon-svg{
    margin-right: 10px;
    fill: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.contact-mail-link:hover .contact-icon-svg,
.contact-tel-link:hover .contact-icon-svg,
.contact-mail-link:focus .contact-icon-svg,
.contact-tel-link:focus .contact-icon-svg{
    fill: #2196F3;
}


/* Hero */
.hero{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #212121;;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)),
        url(../images/hero-img.jpg);
}
   

.hero-title{
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-dark-theme-color);
}
.hero-button{
  display: inline-block;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-dark-theme-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 40px;


    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
}


/* Our nations */

.our-nations-subtitle{
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   color: var(--title-light-theme-color);
   margin-bottom: 10px;
   margin-top: 0;
}
.description{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-top: 0;
    margin-bottom: 0;
}
.our-nations-list{
    display: flex;
}
.our-nations-item:not(:last-child){
    margin-right: 30px;
}

.our-nation-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.our-nation-icon-svg{
    width: 70px;
    height: 70px;
}
/* What we do */
.what-we-do{
    display: flex;
}
.title{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-light-theme-color);
}
.what-we-do-list{
    display: flex;
}
.what-we-do-item:not(:last-child){
    margin-right: 30px;
}

.what-we-do-thumb{
    position: relative;
}


.what-we-do-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--title-dark-theme-color);
    background-color: rgba(47, 48, 58, 0.8);
  
}

/* Our team */
.our-team{
    display: flex;
    background-color: #F5F4FA;
}
.our-team-list{
    display: flex;
}
.our-team-item{
    width: 270px;
    height: 422px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team-item:not(:last-child){
    margin-right: 30px;
}
.our-team-subtitle{
    margin-bottom: 10px;
    margin-top: 30px;
}
.our-team-subtitle,
.our-team-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-light-theme-color);

}
.our-team-text{
    font-weight: 400;
    color: var(--primary-text-color);
    margin-bottom: 16px;
    margin-top: 0;
}



.social-icon-item:not(:last-child){
    margin-right: 10px;
}


.social-icon {
    display: flex;
    justify-content: center;

}
.social-icon-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.social-icon-link:hover{
    background-color: var(--accent-color);
}

.social-icon-link:hover .social-icon-svg{
    fill: #FFFFFF;
}

.social-icon-svg{
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}

/* Clients */

.clients-list{
    display: flex;
}
.clients-item{
    display: flex;
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-link{
    display: flex;
    width: 170px;
    height: 90px;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.clients-icon{
    fill: #afb1b8;
    
}
.clients-link:hover .clients-icon{
    fill: var(--accent-color);
}


/* Footer */
.footer-page {
    background-color: #2F303A;
}
.footer-page > .container{
    display: flex;
    padding-top: 60px;
    align-items: baseline;
    padding-bottom: 60px;
}
.footer-addres{
    margin-right: 69px;
}

.footer-logo{
    display: block;
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.addres{
    font-style: normal;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
}
.addres-item:not(:last-child) {
    margin-bottom: 9px;
}

.addres-link{
    color: #FFFFFF;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.contact-mail-link-footer,
.contact-tel-link-footer{
    color:rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-mail-link-footer:hover,
.contact-mail-link-footer:focus,
.contact-tel-link-footer:hover,
.contact-tel-link-footer:focus,
.addres-link:hover,
.addres-link:focus{
    color: var(--accent-color);
}

.social-link-footer{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-icon-svg-footer{
    fill: #FFFFFF;
}

.footer-social-icon{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}




   
.footer-join{
    margin-right: 94px;
}

.join{
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.logo-accent-footer{
    color: #FFFFFF;
}
.text-footer{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.button-sb{
    display: inline-flex;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 10px 29px;
    background-color: #2196F3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border-radius: 4px;
}
.icon-send{
    margin-left: 10px;
}






/* Portfolio */

.portfolio-link{
    position: relative;

}

.portfolio-link::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);

}


.filtr-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filtr-item:not(:last-child){
    margin-right: 8px;
}
 
.filtr-button{
    width: 130px;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    background-color: #F5F4FA;
    color: var(--title-light-theme-color);
    padding: 6px 22px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtr-button:hover,
.filtr-button:focus{
    color: var(--title-dark-theme-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/* Our-works */

.our-works-title{
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-light-theme-color);
}

.our-works-list {
    display: flex;
    flex-wrap: wrap;
    
}
.our-works-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px; 

}

.our-works-item:nth-child(3n) {
    margin-right: 0;
}

.our-works-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.our-works-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-works-item:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.our-works-thumb{
    position: relative;
    overflow: hidden;
}




.our-works-link:hover .our-works-pic-text{
    transform: translateY(0);
}

.our-works-pic-text{
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    padding: 63px 24px;
    width: 100%;
    height: 100%;


    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--title-dark-theme-color);
    text-align: center;
   
    background-color: rgba(33, 150, 243, 0.9);
    
    transform: translateY(100%);
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.card-content{
    padding: 20px 24px;
    background-color: #FFFFFF;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.our-works-text{
    font-size: 16px;
    line-height: 1.9px;
}





