html{
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

:root{
    --main-font: "Roboto", sans-serif;
    --title-dark-theme-color:#FFFFFF;
    --title-light-theme-color:#212121;
    --accent-color:#2196F3;
    --primary-text-color:#757575;
}
body{
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    font-family: var(--main-font);
    color:var(--primary-text-color);
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.button{
    cursor: pointer;
}
.link{
    text-decoration: none;
}
.list{
    padding: 0;
    margin: 0;
    list-style: none;
}
/* Header */
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-name-part{
    color: var(--accent-color);
}
.main-nav{
    display: flex;
    align-items: center;
}
.navigation{
    display: flex;
    align-items: center;
}
.navigation-list {
    display: flex;
    margin-left: 85px;
}

.contact-list {
    display: flex;
    margin-left: auto;
}

.navigation-item:not(:last-child),
.contact-item:not(:last-child){
    margin-right: 50px;
}

.navigation-link,
.contact-mail-link,
.contact-tel-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-light-theme-color);
}
.navigation-link:hover,
.navigation-link:focus,
.contact-mail-link:hover,
.contact-mail-link:focus,
.contact-tel-link:hover,
.contact-tel-link:focus{
    color: var(--accent-color);
}
.contact-mail-link,
.contact-tel-link{
     color: var(--primary-text-color);
}

/* Hero */
.hero{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title{
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /* color: var(--title-dark-theme-color); */
}
.hero-button{
  display: inline-block;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-dark-theme-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  padding: 10px 32px;
}

/* Our nations */
.our-nations{
    padding-top: 94px;
    padding-bottom: 47px;
}
.our-naions-subtitle{
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   color: var(--title-light-theme-color);
   margin-bottom: 10px;
   margin-top: 0;
}
.description{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-top: 0;
    margin-bottom: 0;
}
.our-nations-list{
    display: flex;
}
.our-nations-item:not(:last-child){
    margin-right: 30px;
}


/* What we do */
.what-we-do{
    display: flex;
    padding-top: 47px;
    padding-bottom: 94px;
}
.title{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-light-theme-color);
}
.what-we-do-list{
    display: flex;
}
.what-we-do-item:not(:last-child){
    margin-right: 30px;
}
.what-we-do-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* color: var(--title-dark-theme-color); */
}
/* Our team */
.our-team{
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}
.our-team-list{
    display: flex;
}
.our-team-item:not(:last-child){
    margin-right: 30px;
}
.our-team-subtitle{
    margin-bottom: 10px;
    margin-top: 0;
}
.our-team-subtitle,
.our-team-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-light-theme-color);

}
.our-team-text{
    font-weight: 400;
    color: var(--primary-text-color);
}
/* Clients */
.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}


/* Portfolio */

.filtr-section{
    padding-top: 93px;
    padding-bottom: 50px;
}

.filtr-list{
    display: flex;
}

.filtr-item:not(:last-child){
    margin-right: 8px;
}
 
.filtr-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-light-theme-color);
}
.filtr-button:hover,
.filtr-button:focus{
    color: var(--title-dark-theme-color);
    background-color: var(--accent-color);
}

/* Our-works */

.our-works-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-light-theme-color);
}
.our-works-text{
    font-size: 16px;
    line-height: 1.9px;
}

.our-works-list{
    display:flex;
    flex-wrap: wrap;
}
.our-works-item{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.our-works-item:nth-child(3n){
    margin-right: 0;
}
.our-works-item:nth-last-child(-n+3){
    margin-bottom: 0;
}