.our-nations-subtitle {
    font-weight: 700;
    line-height: 1.14;
    margin-bottom: 10px;
    text-align: center;
    color: $primary-text-color ;
    @media screen and (min-width:767px) {
            text-align: left;
        }

}


.our-nations .description{
    margin-bottom: 0;
}

.our-nations-subtitle {
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-top: 0;

}

.our-nations-list {
    @media screen and (min-width:768px){
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        
    }
   
}
.our-nations-item {
    @media screen and (min-width:768px) {
       margin: 15px; 
      flex-basis: calc((100% - 60px) / 2);
        }

    @media screen and (min-width:1200px) {
     flex-basis: calc((100% - 120px) / 4);
        }
&:not(:last-child) {
    @media screen and (max-width:767px) {
      margin-bottom: 30px;    
        }

 }      

}

        

.our-nation-icon {
    @extend %align-center;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
    
 
&-svg{
    width: 70px;
    height: 70px;
    }
}    

   