.our-team {
    background-color: #F5F4FA;
}

.our-team-list {
    @media screen and (min-width:1200px){
        display: flex;
        
    }
   
}

.our-team-item {
    width: 450px;
    height: 482px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width:768px){
        width: 354px;
        height: 422px;   
    }
    @media screen and (min-width:768px) {
     width: 270px;
    }


}

.our-team-item:not(:last-child) {
    @media screen and (max-width:767px) {
      margin-bottom: 30px;
        }
    
    @media screen and (min-width:1200px) {
      margin-right: 30px;
        }
    
}


.our-team-subtitle {
    margin-bottom: 10px;
    margin-top: 30px;
}

.our-team-subtitle,
.our-team-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;

}

.our-team-text {
    font-weight: 400;
    color: $secondary-text-color;
    margin-bottom: 16px;
    margin-top: 0;
}



.social-icon-item:not(:last-child) {
    margin-right: 10px;
}


.social-icon {
    @extend %align-center;

}

.social-icon-link {
    @extend %align-center;
    @extend %social-icon;

&:hover{
    background-color: $accent-color;
}
}



.social-icon-link:hover .social-icon-svg {
    fill: #FFFFFF;
}

.social-icon-svg {
    @extend %icon-svg;
    fill: $primary-icon-fill;
}